<!DOCType html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <link rel="stylesheet" href="../public/css/styles.css"> --}}
</head>
<body>
      <div class="main-content"> 
{{!-- <h1>we are good</h1> --}}
{{>header}}
<img class="portrait" src="/img/robot.png">
{{!-- <img src="../public/img/robot.png"> --}}
<p>{{name}}</p>
     </div>



{{>footer}}
</body>
</html>